<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @barcode_no_login.code %>
</p>

<%= link_to 'Edit', edit_barcode_no_login_path(@barcode_no_login) %> |
<%= link_to 'Back', barcode_no_logins_path %>
